<h2>Scrie un nou articol!</h2>
<form method="post" action="/Articles/New">
        <label>Titlu articol</label>
        <br />
            <input type="text" name="Title" />
        <br /><br />
        <label>Continut articol</label>
        <br />
            <input type="text" name="Content" />
        <br /><br />
        <br />
        
    
        <button type="submit">Posteaza articol</button>


        
</form>