@model DAW_Project.Models.Article

<h2>Afisare articol</h2>
<br />
<p>@ViewBag.Article.Title</p>
<p>@ViewBag.Article.Editor_Name</p>
<p>@Html.Raw(ViewBag.Article.Content)</p>
<p>@ViewBag.Domain.Domain_name</p>


 <a class="btn btn-success" href="/Articles/Edit/@ViewBag.Article.Article_Id">Editare Articol</a>

          <form method="post" action="/Articles/Delete/@ViewBag.Article.Article_Id">

                <button class="btn btn-danger" type="submit">Sterge articol</button>

            </form>

<br />
<a href="/Articles/Index">Afisare articole</a>