@{
    ViewData["Title"] = "BAHAUPEDIA";
}
@*@foreach (DAW_Project.Models.Article item in ViewBag.Articles)
{
    <div class="card" style="width: 18rem;">

        <h5 class="card-title">@item.Title </h5>
        <a class="btn btn-success" href="/Articles/Show/@item.Article_Id">Afisare articol</a>

    </div>
    <br />
}
*@

<h2 align = "center"> Bine ati venit pe pagina <b>BAHAUPEDIA</b> </h2>
<h3 align = "center"> Pentru a viziona articolele, va rugam sa va inregistrati!</h3>



