@{
    ViewData["Title"] = "BAHAUPIDIA";
}



<div>
    <a class="btn btn-success" href="./Articles/Index">Articole</a>
</div>
<br/>
<div>
    
    <a class="btn btn-success" href="./Domains/Index">Domenii</a>
 
</div>

<div class="text-center">
    <h1 class="display-4">Bine v-am gasit!!</h1>

    <p>Pentru a continua vizualizarea articolelor , va rugam sa va inregistrati pe site</p>
</div>

