@{
    ViewData["Title"] = "Home Page";
}



<div>
    <a href="./Articles/Index"><button>Articole</button></a>

</div>
<div>
    <a href="./Domains/Index"><button>Domenii</button></a>
</div>

<div class="text-center">
    <h1 class="display-4">Bine v-am gasit!!</h1>

    <p>Pentru a continua vizualizarea articolelor , va rugam sa va inregistratinpe site</p>
</div>

