<h3 align="center">Versiunile vechi ale articolului</h3>

@model DAW_Project.Models.Modification

@foreach (var item in ViewBag.Modifications)
{
     <div class="card" style="width: 80rem;">
        <div class="card-body">
        <p><b>Data: </b> @String.Format("{0:dd MMMM yyyy}", item.Post_Date)</p>
        <p><b>Autorul modificarii: </b>@item.Modificator_Name</p>
        <p><b>Continut modificat:</b> @Html.Raw(@item.New_Content)</p>

        </div>
    </div>
    <br />
}

