@model DAW_Project.Models.Domain
@{
    ViewBag.Title = "Afisare domeniu";
}


<h2>@ViewBag.Title</h2>

<br />

<p>@Model.Domain_name</p>



<br />
<a class="btn alert-success" href="/Domains/Index/">Afisare lista domeniuu</a>

<br />
<hr />
<br />

